body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: linear-gradient(to right, yellow , red);
}

.container {
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr;
    border: 1px solid black;
    width: 800px;
    
}


.top_bar{
    padding: 10px 10px;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid black;
}

.header {
    border-bottom: 1px solid black;
    padding: 10px 10px;
}

.content {
    display: flex;
}

.left, .right {
    border-right: 1px solid black;
}

.left {
    width: 30%;
    display: block;
    margin: auto;
}

.left img{
    padding: 15px;
}

.right {
    padding: 10px;
    width: 70%;
    border-right: none;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
}
