body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: linear-gradient(to right, yellow , red);
}

.main-container {
    width: 1000px;
    border: 1px solid black;
    box-sizing: border-box;
}

.top_bar{
    padding: 10px 10px;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid black;
}

.header-title {
    padding: 10px;
    border-bottom: 1px solid black;
}

.content-area {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction:row;
}

.section img{
    padding: 10px;
}

.text-block{
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid black;
}

.Image{
    border-bottom: 1px solid black;

}